input:read-only { 
    background-color: lightgray;
  }

body {
  background-image: url('/static/images/pastel_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.backg {
  background-color: whitesmoke;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1,h3,h4 {
  text-align: center;
}

.navbar {
  background-color: whitesmoke !important;
  border-bottom: 1px solid grey;
}
.nav-link {
  color: black !important;
}

.label-align {
  text-align: right;
}

.list-group-item {
  background-color: #FAFCC2;
  text-align: center;
  
}

.list-group-item:hover {
  background-color: #f1f580;
}
.btn {
  background-color:#CCF6C8;
  border: solid 1px #b9fcb3;
  color: black;
}

.btn:hover {
  background-color:#FAFCC2;
}

.btnUpdate {
  background-color: #F6D6AD;
}

.btnDelete {
  background-color: #F9C0C0;
}
th {
  text-align: center;
  background-color: #FAFCC2;
  color: black;
}

table {
  border: solid 1px grey;
}
