{% extends 'base.html' %}

{% block title %}About{% endblock %}


{% block body %} 
<h1>About</h1>
<br>
<div class="row justify-content-center">
    <div class="col-8">
        <p>
            The Humbled Human project is designed to allow any and all interested parties to discover, learn, and share about
            organizations that are pushing for a positive change for basic human rights. Over the past several
            years there has been an increase in attention and growth of movements and organizations
            contributing to the obtainment of these rights. 
        </p>
            
            <p>With the creation of this project, users will be able
            to create Contributor accounts in which they can indicate specific human rights movements they
            are actively involved with and share links/information about them. For the public, they will be
            able to view content added by Contributors and can create accounts to become Contributors. 

        </p>
    </div>
</div>
{% endblock %}