{% extends 'base.html' %}

{% block title %}Admin Functionality{% endblock %}


{% block body %} 
<h1>Admin Functionality</h1>
<h4>Select an option from below</h4>
<br>
<div class="row justify-content-center">
    <div class="col-4">
<ul class="list-group">
    <li class="list-group-item"><a style="color:black;"href="{{ url_for('view_posts') }}">View all posts</a></li>
    <li class="list-group-item"><a style="color: black;" href="{{ url_for('view_causes') }}">View all causes</a></li>
    <li class="list-group-item"><a style="color:black;" href="{{ url_for('admin_users') }}">View all users</a></li>
    <li class="list-group-item"><a style="color:black;" href="{{ url_for('admin_add_user') }}">Add new user</a></li>
</ul>
<br>
    </div>

<br>
</div>

{% endblock %}