{% extends 'base.html' %}

{% block title %}Admin Functionality{% endblock %}


{% block body %} 
<h1>Admin Functionality</h1>
<p>List buttons/links for admin to click and follow</p>
<ul>
    <li><a class="link" href="{{ url_for('view_posts') }}">View all posts</a></li>
    <li><a class="link" href="{{ url_for('view_causes') }}">View all causes</a></li>
    <li><a class="link" href="{{ url_for('admin_users') }}">View all users</a></li>
    <li><a class="link" href="{{ url_for('admin_add_user') }}">Add new user</a></li>
</ul>
{% endblock %}