{% extends 'base.html' %}

{% block title %} Discover{% endblock %}


{% block body %} 
<h1>Discover</h1>
<br>

<p style="text-align: center;">Check out some of the organizations our contributors have shared!</p>
<p style="text-align: center;">
    <a class="btn" role="button" href="{{ url_for('new_post') }}">Share post</a>
</p>

{% if all_posts %}
<div class="justify-content-center" style="margin-right: 10px; margin-left: 10px;">
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Organization</th>
            <!--<th scope="col">Link</th>-->
            <th scope="col">Cause</th>
           <!-- <th scope="col">Description</th> -->
            <th scope="col">Shared by</th>
            <th scope="col">Date Added</th>
            <th scope="col">Details</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        {% for row in all_posts %}
        <tr>
            <td> {{ row['title'] }}</td>
            <td> {{ row['organization'] }}</td>
            <!--<td> {{ row['link'] }}</td> -->
            <td> {{ row['cause'] }}</td>
            <!--<td> {{ row['description'] }}</td> -->
            <td> {{ row['username'] }}</td>
            <td> {{ row['date_added'] }}</td>

            <td><form action="{{ url_for('view_post', post_id=row['_id']) }}" method="POST"><input type="submit" class="btn btnDetails" value="Details"></form></td>
            
            <td>
                {% if current_user.role =='admin' %}
                <form action="{{ url_for('delete_post', post_id=row['_id']) }}" method="POST">
                <input type="submit" class="btn btnDelete" value="Delete"  />
            </form>    
                {% endif %}
        </td>

            
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
</div>

{% endif %}
{% endblock %}