{% extends 'base.html' %}

{% block title %} Humbled Human {% endblock %}


{% block body %} 

<h3>Welcome to Humbled Human</h3>
<br>
<hr>
<h4>Support the BLM Movement in Iowa City!</h4>

<div class="row align-items-center">
    <div class="col-5 label-align">
        <img style="height:350px; width: 300px;" src="/static/images/blm.png">
    </div>
    <div class="col-7 align-items-center">
        <div class="row">
            <div class="col-3 label-align">
                <label for="organization">Organization: </label>
            </div>
            <div class="col-4">
                <p>Humanize My Hoodie</p>
                
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-3 label-align">
                <label for="cause">Cause: </label>
            </div>
            <div class="col-4">
                <p>Black Lives Matter</p>
               
            </div>
        </div>
       
    </div>
</div>
<br>
{% endblock %}