{% extends 'base.html' %}

{% block title %} Share{% endblock %}

{% block body %} 
<h1>Share something</h1>

<form method="POST" action="/posts/add-post">
    <div class="row justify-content-center">
        <div class="col-5 label-align">
            <label for="title">Post Title: </label></div>
        <div class="col-5">
            <input type="text" id="title" name="title" required autofocus >
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-5 label-align">
            <label for="organization">Organization: </label></div>
        <div class="col-5">
            <input type="text" id="organization" name="organization" required >
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-5 label-align">
            <label for="link">Link to Organization: </label></div>
        <div class="col-5">
            <input type="text" id="link" name="link" required >
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-5 label-align">
            <label for="cause">Cause:</label></div>
        <div class="col-5">
            <select name="cause" required>
                <option value="" selected disabled hidden> -- Choose cause -- </option>
                {% for cause in all_causes %}
                <option value="{{ cause['cause'] }}">{{ cause['cause'] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-5 label-align">
            <label for="description">Description: </label></div>
        <div class="col-5"> 
            <input type="text" id="description" name="description" required >
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-5 label-align">
            <label for="username"> Added by: </label></div>
        <div class="col-5">
            {% if current_user.is_authenticated %}
            <input type="text " name="username" class="form-control" value="{{ current_user.username }}" required readonly>
            {% endif %}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <input type="submit" value="Add Post">
        </div>
    </div>

</form>
<hr>
<br> 
{% endblock %}